<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>Portfolio - {{ data.user_name if data.user_name else "Mon Portfolio" }}</title>
    <!-- CSS global -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/competences.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Google Fonts exemple -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header avec navbar -->
    {% include "components/navbar.html" %}

    <!-- Contenu principal -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include "components/footer.html" %}

    <!-- JS global -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>